<br/><br/>
<div ng-controller="storeController">
	<div class="list-group">
	  <!--  Product Container  -->
	  <div class="list-group-item" ng-repeat="product in products">
	    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

	    <!-- Image Gallery  -->
	    <!-- <product-gallery></product-gallery> -->
	    <div ng-show="product.images.length">
			  <div class="img-wrap">
			    <img ng-src="{{product.images[gallery.current]}}" />
			  </div>
			  <ul class="img-thumbnails clearfix">
			    <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
			      <img ng-src="{{image}}" />
			    </li>
			  </ul>
			</div>

	    <!-- Product Tabs  -->
	    <!-- <product-tabs></product-tabs> -->

	    <!-- Tabs Go Here -->
	    <div ng-controller="productTabs as tab">
				<section>
				  <ul class="nav nav-pills">
				    <li ng-class="{ active:isSet(1) }">
				      <a href ng-click="setTab(1)">Description</a>
				    </li>
				    <li ng-class="{ active:isSet(2) }">
				      <a href ng-click="setTab(2)">Specs</a>
				    </li>
				    <li ng-class="{ active:isSet(3) }">
				      <a href ng-click="setTab(3)">Reviews</a>
				    </li>
				  </ul>

           <!--  Spec Tab's Content  -->
				  <div product-specs ng-show="isSet(2)"></div>

				  <!--  Review Tab's Content  -->
				  <product-reviews ng-show="isSet(3)"></product-reviews>
				  
				  <!--  Description Tab's Content  -->
				  <div product-description ng-show="isSet(1)" ></product-description>


				</section>
			</div>

	  </div>
	</div>
</div>